# Ignore system files
*.log
*.swp
*.swa
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore IDE/Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore sensitive data files like secrets
secrets.yaml
*.pem
*.key
*.crt
*.json
*.yml

# Ignore Helm package files
*.tgz
/charts/*.tgz
/docs

# Ignore temporary files
*.tmp
*.temp
*.bak
*.BAK
~*

# Ignore build/output files
/output
/dist
/build
/bin
/obj
/.terraform
